<% include partials/header %>
<main class="flex justify-center items-center">
  <div
    class="
      bg-white
      w-7/12
      rounded-lg
      px-6
      py-8
      m-auto
      flex
      justify-between
      shadow-lg
      border-gray-50
    "
  >
    <section>
      <h2 class="text-center">Expense Details Page</h2>
      <div>
        <h2><%= expense.expname %></h2>

        <h2><span>Date: </span><%= date %></h2>
        <h2><span>Amount: </span> <%= expense.amount %></h2>
        <div class="mt-4">
          <a href="/expense/<%= expense.id %>/edit" class="">Edit</a>
          <a href="/expense/<%= expense.id %>/delete" class="">Delete</a>
        </div>
      </div>
    </section>
  </div>
</main>